/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
* {
  box-sizing: border-box;
  margin: 0;
}

.banner h1 {
  font-family: monospace;
  font-size: 36px;
}

.banner,
footer {
  color: white;
  font-family: monospace;
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: hsl(198, 76%, 26%);
  box-shadow: 0px 0px 15px grey;
  border-bottom: none;
  left: 0;
}

.main_card {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  margin-top: 100px;
  max-width: 400px;
  min-width: 200px;
  text-align: center;
  align-content: center;
  background-color: hsl(161, 74%, 47%);
  border-radius: 15px;
  padding: 20px;
  border: none;
  box-shadow: -2px 6px 12px grey;
}

button {
  margin-top: 20px;
  background-color: hsl(210, 68%, 75%);
  border: none;
  max-width: 130px;
  min-width: 100px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: -2px 4px 8px hsl(142, 98%, 24%);
}

.mid-card {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  margin-top: 100px;
  max-width: 400px;
  min-width: 200px;
  text-align: center;
  align-content: center;
  background-color: hsl(161, 74%, 47%);
  border-radius: 15px;
  padding: 20px;
  border: none;
  box-shadow: -2px 6px 12px grey;
}

.show {
  display: none !important;
}

input {
  margin: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.counts {
  display: flex;
  justify-content: space-evenly;
}

.count {
  border: 2px outset hsl(186, 63%, 55%);
  border-radius: 40%;
  flex-direction: row;
  width: 25px;
  height: 25px;
  background-color: hsl(0, 100%, 99%);
}

h1 {
  font-family: sans-serif;
}

.green {
  background-color: green !important;
}

.red {
  background-color: red !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 225%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(155, 101, 101) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
