/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
* {
  box-sizing: border-box;
  margin: 0;
}

.banner, footer{
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: darkolivegreen;
  box-shadow: 6px 6px 10px grey;
  border-bottom: 1px solid black;
  left: 0;
}

.main_card {
  margin: auto;
  margin-top: 100px;
  max-width: 400px;
  min-width: 200px;
  text-align: center;
  align-content: center;
  background-color: olivedrab;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 6px 6px 10px grey;
}

button {
  margin-top: 20px;
  background-color: rgb(101, 128, 155);
  border: 1px solid black;
  max-width: 130px;
  min-width: 100px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 6px 6px 10px darkolivegreen;
}

input {
  margin: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.counts {
  display: flex;
  justify-content: space-evenly;
  
}

.count {
  border: 1px solid black;
  border-radius: 50%;
  flex-direction: row;
  width: 15px;
  height: 15px;
  background-color: white;
  
}

h1 {
  font-family: sans-serif;
}