/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
* {
  box-sizing: border-box;
  margin: 0;
}

.banner h1 {
  font-family: monospace;
  font-size: 3em;
}

.banner,
footer {
  color: white;
  font-family: monospace;
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: hsl(198, 76%, 26%);
  box-shadow: 0px 0px 15px grey;
  border-bottom: none;
  left: 0;
}

.main_card {
  display: flex;
  min-width: 20vw;
  min-height: 40vh;
  text-align: center;
  justify-content: center;
  align-content: space-around;
  background-color: hsl(161, 74%, 47%);
  border-radius: 15px;
  padding: 20px;
  border: none;
  box-shadow: -2px 6px 12px grey;
}

button {
  margin: 30%;
  margin-bottom: 10%;
  color: hsl(0, 7%, 92%);
  background: linear-gradient(140deg, hsl(210, 91%, 50%), hsl(258, 78%, 65%));
  border: none;
  max-width: 130px;
  min-width: 100px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: -2px 4px 6px hsl(142, 98%, 24%);
}

.main_card > form#qForm {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
}
/*
.mid-card {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  margin-top: 100px;
  max-width: 400px;
  min-width: 200px;
  text-align: center;
  align-items: center;
  background-color: hsl(161, 74%, 47%);
  border-radius: 15px;
  padding: 20px;
  border: none;
  box-shadow: -2px 6px 12px grey;
}
*/
.main_card > h2 {
  justify-self: center;
  font-weight: bolder;
  color: hsl(210, 90%, 20%);
}

input {
  margin: 5px 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  max-height: 20vh;
}

.counts {
  display: flex;
  justify-content: space-evenly;
}

.count {
  border: 2px outset hsl(186, 63%, 55%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 20%;
  flex-direction: row;
  width: 12vw;
  height: 12vh;
  background-color: hsl(0, 100%, 99%);
  padding: 15px;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}

h1 {
  font-family: sans-serif;
}

.green {
  background-color: green !important;
}

.red {
  background-color: red !important;
}

#snackbar > p {
  visibility: hidden;
  min-width: 15vw;

  color: #fff;
  text-align: center;
  align-content: flex-start;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: ;
  top: -30px;
}

#snackbar.show {
  visibility: visible;
  /-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
